DataFactories/pipeline/COPY_DbrAwltSrc_ProductDescription.json
{
  "name": "COPY_DbrAwltSrc_ProductDescription",
  "properties": {
    "activities": [
      {
        "name": "LogExecutionStart",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "Lookup",
        "typeProperties": {
          "dataset": {
            "referenceName": "BimlCatalog",
            "type": "DatasetReference"
          },
          "source": {
            "sqlReaderStoredProcedureName": "[adf].[LogExecutionStart]",
            "storedProcedureParameters": {
              "ExternalExecutionID": {
                "type": "String",
                "value": {
                  "type": "Expression",
                  "value": "@pipeline().RunId"
                }
              },
              "IsBatch": {
                "type": "Boolean",
                "value": "false"
              },
              "PackageName": {
                "type": "String",
                "value": "COPY_DbrAwltSrc_ProductDescription"
              },
              "ParentExecutionID": {
                "type": "Int64",
                "value": {
                  "type": "Expression",
                  "value": "@pipeline().parameters.BatchExecutionID"
                }
              },
              "ProjectName": {
                "type": "String",
                "value": "DBR_AWLT_SRC"
              }
            },
            "type": "SqlSource"
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "LogExecutionStart",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "GetParameters",
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@or(equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, null), equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'E'))"
          },
          "ifTrueActivities": [
            {
              "name": "LkpLastLoadDate",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "Lookup",
              "typeProperties": {
                "dataset": {
                  "referenceName": "BimlCatalog",
                  "type": "DatasetReference"
                },
                "source": {
                  "sqlReaderStoredProcedureName": "[adf].[GetConfigVariable]",
                  "storedProcedureParameters": {
                    "ExecutionID": {
                      "type": "Int64",
                      "value": {
                        "type": "Expression",
                        "value": "@activity('LogExecutionStart').output.firstRow.ExecutionID"
                      }
                    },
                    "ObjectName": {
                      "type": "String",
                      "value": "AWLT_SRC.SalesLT.ProductDescription.ModifiedDate"
                    },
                    "SystemName": {
                      "type": "String",
                      "value": "AWLT_SRC"
                    },
                    "VariableName": {
                      "type": "String",
                      "value": "LastLoadDate"
                    },
                    "VariableValue": {
                      "type": "String",
                      "value": "1900-01-01"
                    }
                  },
                  "type": "SqlSource"
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "LkpLastLoadDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "name": "SetLastLoadDate",
              "type": "SetVariable",
              "typeProperties": {
                "value": {
                  "type": "Expression",
                  "value": "@activity('LkpLastLoadDate').output.firstRow.VariableValue"
                },
                "variableName": "LastLoadDate"
              }
            },
            {
              "linkedServiceName": {
                "referenceName": "AWLT_SRC",
                "type": "LinkedServiceReference"
              },
              "name": "LkpNextLoadDate",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": "SELECT CONVERT(VARCHAR(23),MAX(SRC.[ModifiedDate]),121) AS [NextLoadDate] FROM [SalesLT].[ProductDescription] SRC",
                    "type": "Query"
                  }
                ]
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "SetLastLoadDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "LkpNextLoadDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "name": "SetNextLoadDate",
              "type": "SetVariable",
              "typeProperties": {
                "value": {
                  "type": "Expression",
                  "value": "@{if(contains(activity('LkpNextLoadDate').output.resultSets[0].rows[0],'NextLoadDate'), activity('LkpNextLoadDate').output.resultSets[0].rows[0].NextLoadDate, variables('LastLoadDate'))}"
                },
                "variableName": "NextLoadDate"
              }
            }
          ]
        }
      },
      {
        "dependsOn": [
          {
            "activity": "GetParameters",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "BimlCatalog",
          "type": "LinkedServiceReference"
        },
        "name": "ERR_GetParameters",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[adf].[LogExecutionError]",
          "storedProcedureParameters": {
            "ErrorDescription": {
              "type": "String",
              "value": {
                "type": "Expression",
                "value": "@string(activity('GetParameters').Error)"
              }
            },
            "ExecutionID": {
              "type": "Int64",
              "value": {
                "type": "Expression",
                "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
              }
            },
            "IsBatch": {
              "type": "Boolean",
              "value": "false"
            },
            "Raiserror": {
              "type": "Boolean",
              "value": "true"
            }
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "GetParameters",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "MainActivity",
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@or(greater(variables('NextLoadDate'),variables('LastLoadDate')), bool(pipeline().parameters.IsInitialLoad))"
          },
          "ifTrueActivities": [
            {
              "inputs": [
                {
                  "parameters": {
                    "TargetObjectName": {
                      "type": "Expression",
                      "value": "@pipeline().parameters.TargetObjectName"
                    },
                    "TargetSchemaName": {
                      "type": "Expression",
                      "value": "@pipeline().parameters.TargetSchemaName"
                    }
                  },
                  "referenceName": "SQLDB_AWLT_SRC",
                  "type": "DatasetReference"
                }
              ],
              "name": "COPY_AWLT_02_Sales_01_ProductDescript_001",
              "outputs": [
                {
                  "parameters": {
                    "BatchStartTime": {
                      "type": "Expression",
                      "value": "@pipeline().parameters.BatchStartTime"
                    },
                    "DatasetContainer": "bfx-plnd",
                    "DatasetFile": {
                      "type": "Expression",
                      "value": "@concat('AdventureWorksLT2012_SalesLT_ProductDescription', '_', replace(replace(replace(pipeline().parameters.BatchStartTime,':',''),'-',''),'.',''), '.parquet')"
                    },
                    "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "referenceName": "AZDLS_BFX_LND_AZDLS",
                  "type": "DatasetReference"
                }
              ],
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "Copy",
              "typeProperties": {
                "sink": {
                  "formatSettings": {
                    "type": "ParquetWriteSettings"
                  },
                  "storeSettings": {
                    "copyBehavior": "PreserveHierarchy",
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "type": "ParquetSink"
                },
                "source": {
                  "sqlReaderQuery": "SELECT [ProductDescriptionID]\n\t\t,[Description]\n\t\t,[rowguid]\n\t\t,CONVERT(VARCHAR(23), [ModifiedDate], 121) AS [ModifiedDate]\n\t\t,'@{formatDateTime(pipeline().parameters.BatchStartTime, 'yyyy-MM-dd HH:mm:ss.fffffff')}' AS [FlexRowEffectiveFromDate]\n\t\t,'@{activity('LogExecutionStart').output.firstRow.ExecutionID}' AS [FlexRowAuditId]\n\t\t,'@{string('I')}' AS [FlexRowChangeType]\n\t\t,'awlt' AS [FlexRowRecordSource]\nFROM\t[SalesLT].[ProductDescription] \nWHERE [ModifiedDate] > '@{variables('LastLoadDate')}'\n\tAND\t[ModifiedDate] <= '@{variables('NextLoadDate')}'",
                  "type": "SqlSource"
                },
                "translator": {
                  "mappings": [
                    {
                      "sink": {
                        "name": "ProductDescriptionID",
                        "type": "Int32"
                      },
                      "source": {
                        "name": "ProductDescriptionID",
                        "type": "Int32"
                      }
                    },
                    {
                      "sink": {
                        "name": "Description",
                        "type": "String"
                      },
                      "source": {
                        "name": "Description",
                        "type": "String"
                      }
                    },
                    {
                      "sink": {
                        "name": "rowguid",
                        "type": "Guid"
                      },
                      "source": {
                        "name": "rowguid",
                        "type": "Guid"
                      }
                    },
                    {
                      "sink": {
                        "name": "ModifiedDate",
                        "type": "Datetime"
                      },
                      "source": {
                        "name": "ModifiedDate",
                        "type": "Datetime"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowEffectiveFromDate"
                      },
                      "source": {
                        "name": "FlexRowEffectiveFromDate"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowAuditId"
                      },
                      "source": {
                        "name": "FlexRowAuditId"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowChangeType"
                      },
                      "source": {
                        "name": "FlexRowChangeType"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowRecordSource"
                      },
                      "source": {
                        "name": "FlexRowRecordSource"
                      }
                    }
                  ],
                  "type": "TabularTranslator"
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "COPY_AWLT_02_Sales_01_ProductDescript_001",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "BimlCatalog",
                "type": "LinkedServiceReference"
              },
              "name": "LogRowcount",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[adf].[LogRowCount]",
                "storedProcedureParameters": {
                  "ComponentName": {
                    "type": "String",
                    "value": "COPY_AWLT_02_Sales_01_ProductDescript_001"
                  },
                  "CountType": {
                    "type": "String",
                    "value": "Copy"
                  },
                  "ExecutionID": {
                    "type": "Int64",
                    "value": {
                      "type": "Expression",
                      "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
                    }
                  },
                  "ObjectName": {
                    "type": "String",
                    "value": "AWLT_SRC.SalesLT.ProductDescription"
                  },
                  "RowCount": {
                    "type": "String",
                    "value": {
                      "type": "Expression",
                      "value": "@activity('COPY_AWLT_02_Sales_01_ProductDescript_001').output.rowsCopied"
                    }
                  }
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "COPY_AWLT_02_Sales_01_ProductDescript_001",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "name": "SetHasRowsCopied",
              "type": "SetVariable",
              "typeProperties": {
                "value": {
                  "type": "Expression",
                  "value": "@greater(if(contains(activity('COPY_AWLT_02_Sales_01_ProductDescript_001').output,'rowsCopied'), activity('COPY_AWLT_02_Sales_01_ProductDescript_001').output.rowsCopied, 0), 0)"
                },
                "variableName": "HasRowsCopied"
              }
            }
          ]
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainActivity",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "BimlCatalog",
          "type": "LinkedServiceReference"
        },
        "name": "ERR_MainActivity",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[adf].[LogExecutionError]",
          "storedProcedureParameters": {
            "ErrorDescription": {
              "type": "String",
              "value": {
                "type": "Expression",
                "value": "@string(activity('MainActivity').Error)"
              }
            },
            "ExecutionID": {
              "type": "Int64",
              "value": {
                "type": "Expression",
                "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
              }
            },
            "IsBatch": {
              "type": "Boolean",
              "value": "false"
            },
            "Raiserror": {
              "type": "Boolean",
              "value": "true"
            }
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainActivity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "MainProcess",
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@variables('HasRowsCopied')"
          },
          "ifTrueActivities": [
            {
              "linkedServiceName": {
                "referenceName": "BFX_DBR",
                "type": "LinkedServiceReference"
              },
              "name": "ProcessSourceToStageNotebook",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "DatabricksNotebook",
              "typeProperties": {
                "baseParameters": {
                  "_bfx_ods": "bfx-ods",
                  "_bfx_stg": "bfx-stg",
                  "row_audit_id": {
                    "type": "Expression",
                    "value": "@string(activity('LogExecutionStart').output.firstRow.ExecutionID)"
                  }
                },
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().parameters.NotebookRuntimePath, 'DBR_AWLT_SRC/bfx_awlt_ProductDescription_00_Main')"
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "ProcessSourceToStageNotebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "BimlCatalog",
                "type": "LinkedServiceReference"
              },
              "name": "LogLastLoadDate",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[adf].[SetConfigVariable]",
                "storedProcedureParameters": {
                  "ExecutionID": {
                    "type": "Int64",
                    "value": {
                      "type": "Expression",
                      "value": "@activity('LogExecutionStart').output.firstRow.ExecutionID"
                    }
                  },
                  "ObjectName": {
                    "type": "String",
                    "value": "AWLT_SRC.SalesLT.ProductDescription.ModifiedDate"
                  },
                  "SystemName": {
                    "type": "String",
                    "value": "AWLT_SRC"
                  },
                  "VariableName": {
                    "type": "String",
                    "value": "LastLoadDate"
                  },
                  "VariableValue": {
                    "type": "String",
                    "value": {
                      "type": "Expression",
                      "value": "@variables('NextLoadDate')"
                    }
                  }
                }
              }
            }
          ]
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainProcess",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "BimlCatalog",
          "type": "LinkedServiceReference"
        },
        "name": "ERR_MainProcess",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[adf].[LogExecutionError]",
          "storedProcedureParameters": {
            "ErrorDescription": {
              "type": "String",
              "value": {
                "type": "Expression",
                "value": "@string(activity('MainProcess').Error)"
              }
            },
            "ExecutionID": {
              "type": "Int64",
              "value": {
                "type": "Expression",
                "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
              }
            },
            "IsBatch": {
              "type": "Boolean",
              "value": "false"
            },
            "Raiserror": {
              "type": "Boolean",
              "value": "true"
            }
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainProcess",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "BimlCatalog",
          "type": "LinkedServiceReference"
        },
        "name": "LogExecutionEnd",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[adf].[LogExecutionEnd]",
          "storedProcedureParameters": {
            "ExecutionID": {
              "type": "Int64",
              "value": {
                "type": "Expression",
                "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
              }
            },
            "IsBatch": {
              "type": "Boolean",
              "value": "false"
            }
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainProcess",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "GetArchiveFilesMetadata",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "GetMetadata",
        "typeProperties": {
          "dataset": {
            "parameters": {
              "DatasetContainer": "bfx-plnd",
              "DatasetFile": {
                "type": "Expression",
                "value": "@string('')"
              },
              "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
            },
            "referenceName": "AZDLS_BFX_LND_AZDLS",
            "type": "DatasetReference"
          },
          "fieldList": [
            "childItems",
            "exists"
          ],
          "storeSettings": {
            "enablePartitionRootDiscovery": "false",
            "recursive": "false",
            "type": "AzureBlobFSReadSettings"
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "GetArchiveFilesMetadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "ForeachArchiveFile",
        "type": "ForEach",
        "typeProperties": {
          "activities": [
            {
              "inputs": [
                {
                  "parameters": {
                    "DatasetContainer": "bfx-plnd",
                    "DatasetFile": {
                      "type": "Expression",
                      "value": "@item().Name"
                    },
                    "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "referenceName": "AZDLS_BFX_LND_AZDLS",
                  "type": "DatasetReference"
                }
              ],
              "name": "CopyFilesToArchive",
              "outputs": [
                {
                  "parameters": {
                    "DatasetContainer": "bfx-lnd",
                    "DatasetFile": {
                      "type": "Expression",
                      "value": "@string('')"
                    },
                    "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "referenceName": "AZDLS_BFX_PLND_AZDLS",
                  "type": "DatasetReference"
                }
              ],
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "Copy",
              "typeProperties": {
                "sink": {
                  "formatSettings": {
                    "type": "ParquetWriteSettings"
                  },
                  "storeSettings": {
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "type": "ParquetSink"
                },
                "source": {
                  "storeSettings": {
                    "enablePartitionRootDiscovery": "false",
                    "recursive": "false",
                    "type": "AzureBlobFSReadSettings",
                    "wildcardFileName": {
                      "type": "Expression",
                      "value": "@item().Name"
                    },
                    "wildcardFolderPath": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "type": "ParquetSource"
                }
              }
            }
          ],
          "items": {
            "type": "Expression",
            "value": "@if(contains(activity('GetArchiveFilesMetadata').output,'childItems'), activity('GetArchiveFilesMetadata').output.childItems, variables('EmptyChildItemArray'))"
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainProcess",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "name": "GetErrorFilesMetadata",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "GetMetadata",
        "typeProperties": {
          "dataset": {
            "parameters": {
              "DatasetContainer": "bfx-plnd",
              "DatasetFile": {
                "type": "Expression",
                "value": "@string('')"
              },
              "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
            },
            "referenceName": "AZDLS_BFX_LND_AZDLS",
            "type": "DatasetReference"
          },
          "fieldList": [
            "childItems",
            "exists"
          ],
          "storeSettings": {
            "enablePartitionRootDiscovery": "false",
            "recursive": "false",
            "type": "AzureBlobFSReadSettings"
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "GetErrorFilesMetadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "ForeachErrorFile",
        "type": "ForEach",
        "typeProperties": {
          "activities": [
            {
              "inputs": [
                {
                  "parameters": {
                    "DatasetContainer": "bfx-plnd",
                    "DatasetFile": {
                      "type": "Expression",
                      "value": "@item().Name"
                    },
                    "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "referenceName": "AZDLS_BFX_LND_AZDLS",
                  "type": "DatasetReference"
                }
              ],
              "name": "CopyFilesToError",
              "outputs": [
                {
                  "parameters": {
                    "DatasetContainer": "error",
                    "DatasetFile": {
                      "type": "Expression",
                      "value": "@string('')"
                    },
                    "DatasetFolder": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "referenceName": "AZDLS_BFX_PLND_AZDLS",
                  "type": "DatasetReference"
                }
              ],
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "Copy",
              "typeProperties": {
                "sink": {
                  "formatSettings": {
                    "type": "ParquetWriteSettings"
                  },
                  "storeSettings": {
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "type": "ParquetSink"
                },
                "source": {
                  "storeSettings": {
                    "enablePartitionRootDiscovery": "false",
                    "recursive": "false",
                    "type": "AzureBlobFSReadSettings",
                    "wildcardFileName": {
                      "type": "Expression",
                      "value": "@item().Name"
                    },
                    "wildcardFolderPath": "AdventureWorksLT2012_SalesLT_ProductDescription"
                  },
                  "type": "ParquetSource"
                }
              }
            }
          ],
          "items": {
            "type": "Expression",
            "value": "@if(contains(activity('GetErrorFilesMetadata').output,'childItems'), activity('GetErrorFilesMetadata').output.childItems, variables('EmptyChildItemArray'))"
          }
        }
      }
    ],
    "folder": {
      "name": "DBR_AWLT_SRC/Copy"
    },
    "parameters": {
      "AzureArchiveContainer": {
        "defaultValue": "archive",
        "type": "String"
      },
      "AzureErrorContainer": {
        "defaultValue": "error",
        "type": "String"
      },
      "AzureStageContainer": {
        "defaultValue": "staging",
        "type": "String"
      },
      "AzureStorageAccount": {
        "defaultValue": "bimlflex",
        "type": "String"
      },
      "AzureStorageSasToken": {
        "type": "String"
      },
      "BatchExecutionID": {
        "defaultValue": "-1",
        "type": "String"
      },
      "BatchStartTime": {
        "defaultValue": "1900-01-01",
        "type": "String"
      },
      "IsInitialLoad": {
        "defaultValue": "false",
        "type": "Bool"
      },
      "NotebookRuntimePath": {
        "defaultValue": "/Repos/BimlFlex/DEMO/Databricks/",
        "type": "String"
      },
      "RecordSource": {
        "defaultValue": "awlt",
        "type": "String"
      },
      "SourceCatalogName": {
        "defaultValue": "AdventureWorksLT2012",
        "type": "String"
      },
      "SourceObjectName": {
        "defaultValue": "ProductDescription",
        "type": "String"
      },
      "SourceSchemaName": {
        "defaultValue": "awlt",
        "type": "String"
      },
      "SourceScopedName": {
        "defaultValue": "AdventureWorksLT2012_SalesLT_ProductDescription",
        "type": "String"
      },
      "TargetObjectName": {
        "defaultValue": "ProductDescription",
        "type": "String"
      },
      "TargetSchemaName": {
        "defaultValue": "awlt",
        "type": "String"
      }
    },
    "variables": {
      "EmptyChildItemArray": {
        "type": "Array"
      },
      "HasRowsCopied": {
        "type": "Boolean"
      },
      "LastLoadDate": {
        "type": "String"
      },
      "NextLoadDate": {
        "type": "String"
      }
    }
  }
}