DataFactories/pipeline/DEL_DbrAwltSrc_CustomerAddress.json
{
  "name": "DEL_DbrAwltSrc_CustomerAddress",
  "properties": {
    "activities": [
      {
        "name": "LogExecutionStart",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "Lookup",
        "typeProperties": {
          "dataset": {
            "referenceName": "BimlCatalog",
            "type": "DatasetReference"
          },
          "source": {
            "sqlReaderStoredProcedureName": "[adf].[LogExecutionStart]",
            "storedProcedureParameters": {
              "ExternalExecutionID": {
                "type": "String",
                "value": {
                  "type": "Expression",
                  "value": "@pipeline().RunId"
                }
              },
              "IsBatch": {
                "type": "Boolean",
                "value": "false"
              },
              "PackageName": {
                "type": "String",
                "value": "DEL_DbrAwltSrc_CustomerAddress"
              },
              "ParentExecutionID": {
                "type": "Int64",
                "value": {
                  "type": "Expression",
                  "value": "@pipeline().parameters.BatchExecutionID"
                }
              },
              "ProjectName": {
                "type": "String",
                "value": "DBR_AWLT_SRC"
              }
            },
            "type": "SqlSource"
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "LogExecutionStart",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "MainActivity",
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@or(equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, null), equals(activity('LogExecutionStart').output.firstRow.ExecutionStatus, 'E'))"
          },
          "ifTrueActivities": [
            {
              "inputs": [
                {
                  "parameters": {
                    "TargetObjectName": {
                      "type": "Expression",
                      "value": "@pipeline().parameters.TargetObjectName"
                    },
                    "TargetSchemaName": {
                      "type": "Expression",
                      "value": "@pipeline().parameters.TargetSchemaName"
                    }
                  },
                  "referenceName": "SQLDB_AWLT_SRC",
                  "type": "DatasetReference"
                }
              ],
              "name": "COPY_AWLT_02_Sales_01_CustomerAddress",
              "outputs": [
                {
                  "parameters": {
                    "BatchStartTime": {
                      "type": "Expression",
                      "value": "@pipeline().parameters.BatchStartTime"
                    },
                    "DatasetContainer": "bfx-plnd",
                    "DatasetFile": {
                      "type": "Expression",
                      "value": "@concat('AdventureWorksLT2012_awlt_CustomerAddress_DEL', '_', replace(replace(replace(pipeline().parameters.BatchStartTime,':',''),'-',''),'.',''), '.parquet')"
                    },
                    "DatasetFolder": "AdventureWorksLT2012_awlt_CustomerAddress_DEL"
                  },
                  "referenceName": "AZDLS_BFX_LND_AZDLS",
                  "type": "DatasetReference"
                }
              ],
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "Copy",
              "typeProperties": {
                "sink": {
                  "formatSettings": {
                    "type": "ParquetWriteSettings"
                  },
                  "storeSettings": {
                    "copyBehavior": "PreserveHierarchy",
                    "type": "AzureBlobFSWriteSettings"
                  },
                  "type": "ParquetSink"
                },
                "source": {
                  "sqlReaderQuery": "SELECT [CustomerID]\n\t\t,[AddressID]\n\t\t,'@{formatDateTime(pipeline().parameters.BatchStartTime, 'yyyy-MM-dd HH:mm:ss.fffffff')}' AS [FlexRowEffectiveFromDate]\n\t\t,'@{activity('LogExecutionStart').output.firstRow.ExecutionID}' AS [FlexRowAuditId]\n\t\t,'awlt' AS [FlexRowRecordSource]\nFROM\t[SalesLT].[CustomerAddress] ",
                  "type": "SqlSource"
                },
                "translator": {
                  "mappings": [
                    {
                      "sink": {
                        "name": "CustomerID",
                        "type": "Int32"
                      },
                      "source": {
                        "name": "CustomerID",
                        "type": "Int32"
                      }
                    },
                    {
                      "sink": {
                        "name": "AddressID",
                        "type": "Int32"
                      },
                      "source": {
                        "name": "AddressID",
                        "type": "Int32"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowEffectiveFromDate"
                      },
                      "source": {
                        "name": "FlexRowEffectiveFromDate"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowAuditId"
                      },
                      "source": {
                        "name": "FlexRowAuditId"
                      }
                    },
                    {
                      "sink": {
                        "name": "FlexRowRecordSource"
                      },
                      "source": {
                        "name": "FlexRowRecordSource"
                      }
                    }
                  ],
                  "type": "TabularTranslator"
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "COPY_AWLT_02_Sales_01_CustomerAddress",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "BimlCatalog",
                "type": "LinkedServiceReference"
              },
              "name": "LogRowcount",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[adf].[LogRowCount]",
                "storedProcedureParameters": {
                  "ComponentName": {
                    "type": "String",
                    "value": "COPY_AWLT_02_Sales_01_CustomerAddress"
                  },
                  "CountType": {
                    "type": "String",
                    "value": "Copy"
                  },
                  "ExecutionID": {
                    "type": "Int64",
                    "value": {
                      "type": "Expression",
                      "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
                    }
                  },
                  "ObjectName": {
                    "type": "String",
                    "value": "AWLT_SRC.SalesLT.CustomerAddress"
                  },
                  "RowCount": {
                    "type": "String",
                    "value": {
                      "type": "Expression",
                      "value": "@activity('COPY_AWLT_02_Sales_01_CustomerAddress').output.rowsCopied"
                    }
                  }
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "COPY_AWLT_02_Sales_01_CustomerAddress",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "name": "SetHasRowsCopied",
              "type": "SetVariable",
              "typeProperties": {
                "value": {
                  "type": "Expression",
                  "value": "@greater(if(contains(activity('COPY_AWLT_02_Sales_01_CustomerAddress').output,'rowsCopied'), activity('COPY_AWLT_02_Sales_01_CustomerAddress').output.rowsCopied, 0), 0)"
                },
                "variableName": "HasRowsCopied"
              }
            }
          ]
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainActivity",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "name": "MainProcess",
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@variables('HasRowsCopied')"
          },
          "ifTrueActivities": [
            {
              "linkedServiceName": {
                "referenceName": "BFX_DBR",
                "type": "LinkedServiceReference"
              },
              "name": "ProcessDeleteDetectionNotebook",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "DatabricksNotebook",
              "typeProperties": {
                "baseParameters": {
                  "_bfx_ods": "bfx-ods",
                  "_bfx_stg": "bfx-stg",
                  "row_audit_id": {
                    "type": "Expression",
                    "value": "@string(activity('LogExecutionStart').output.firstRow.ExecutionID)"
                  }
                },
                "notebookPath": {
                  "type": "Expression",
                  "value": "@concat(pipeline().parameters.NotebookRuntimePath, 'DBR_AWLT_SRC/bfx_awlt_CustomerAddress_DEL_00_Main')"
                }
              }
            },
            {
              "dependsOn": [
                {
                  "activity": "ProcessDeleteDetectionNotebook",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ],
              "linkedServiceName": {
                "referenceName": "BimlCatalog",
                "type": "LinkedServiceReference"
              },
              "name": "ERR_ProcessDeleteDetectionNotebook",
              "policy": {
                "retry": 0,
                "timeout": "0.12:00:00"
              },
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[adf].[LogExecutionError]",
                "storedProcedureParameters": {
                  "ErrorDescription": {
                    "type": "String",
                    "value": {
                      "type": "Expression",
                      "value": "@string(activity('ProcessDeleteDetectionNotebook').Error)"
                    }
                  },
                  "ExecutionID": {
                    "type": "Int64",
                    "value": {
                      "type": "Expression",
                      "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
                    }
                  },
                  "IsBatch": {
                    "type": "Boolean",
                    "value": "false"
                  },
                  "Raiserror": {
                    "type": "Boolean",
                    "value": "true"
                  }
                }
              }
            }
          ]
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainProcess",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "BimlCatalog",
          "type": "LinkedServiceReference"
        },
        "name": "LogExecutionEnd",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[adf].[LogExecutionEnd]",
          "storedProcedureParameters": {
            "ExecutionID": {
              "type": "Int64",
              "value": {
                "type": "Expression",
                "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
              }
            },
            "IsBatch": {
              "type": "Boolean",
              "value": "false"
            }
          }
        }
      },
      {
        "dependsOn": [
          {
            "activity": "MainProcess",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "linkedServiceName": {
          "referenceName": "BimlCatalog",
          "type": "LinkedServiceReference"
        },
        "name": "ERR_MainProcess",
        "policy": {
          "retry": 0,
          "timeout": "0.12:00:00"
        },
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[adf].[LogExecutionError]",
          "storedProcedureParameters": {
            "ErrorDescription": {
              "type": "String",
              "value": {
                "type": "Expression",
                "value": "@string(activity('MainProcess').Error)"
              }
            },
            "ExecutionID": {
              "type": "Int64",
              "value": {
                "type": "Expression",
                "value": "@{activity('LogExecutionStart').output.firstRow.ExecutionID}"
              }
            },
            "IsBatch": {
              "type": "Boolean",
              "value": "false"
            },
            "Raiserror": {
              "type": "Boolean",
              "value": "true"
            }
          }
        }
      }
    ],
    "folder": {
      "name": "DBR_AWLT_SRC/Delete"
    },
    "parameters": {
      "AzureArchiveContainer": {
        "defaultValue": "archive",
        "type": "String"
      },
      "AzureErrorContainer": {
        "defaultValue": "error",
        "type": "String"
      },
      "AzureStageContainer": {
        "defaultValue": "staging",
        "type": "String"
      },
      "AzureStorageAccount": {
        "defaultValue": "bimlflex",
        "type": "String"
      },
      "AzureStorageSasToken": {
        "type": "String"
      },
      "BatchExecutionID": {
        "defaultValue": "-1",
        "type": "String"
      },
      "BatchStartTime": {
        "defaultValue": "1900-01-01",
        "type": "String"
      },
      "IsInitialLoad": {
        "defaultValue": "false",
        "type": "Bool"
      },
      "NotebookRuntimePath": {
        "defaultValue": "/Repos/BimlFlex/DEMO/Databricks/",
        "type": "String"
      },
      "RecordSource": {
        "defaultValue": "awlt",
        "type": "String"
      },
      "SourceCatalogName": {
        "defaultValue": "AdventureWorksLT2012",
        "type": "String"
      },
      "SourceObjectName": {
        "defaultValue": "CustomerAddress",
        "type": "String"
      },
      "SourceQuery": {
        "defaultValue": "SourceQueryPlaceholder",
        "type": "String"
      },
      "SourceSafeScopedNamePlaceholder": {
        "defaultValue": "SourceSafeScopedNamePlaceholder",
        "type": "String"
      },
      "SourceSchemaName": {
        "defaultValue": "awlt",
        "type": "String"
      },
      "SourceScopedName": {
        "defaultValue": "AdventureWorksLT2012_SalesLT_CustomerAddress",
        "type": "String"
      },
      "TargetObjectName": {
        "defaultValue": "CustomerAddress_DEL",
        "type": "String"
      },
      "TargetSchemaName": {
        "defaultValue": "awlt",
        "type": "String"
      }
    },
    "variables": {
      "EmptyChildItemArray": {
        "type": "Array"
      },
      "HasRowsCopied": {
        "type": "Boolean"
      }
    }
  }
}